:root {
  /*폰트 설정*/
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /*글자색*/
  color: rgba(255, 255, 255, 0.87);
  /*폰트 렌더링 최적화*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*배경화면 설정*/
  background-image: url("assets/table.png");  /* 배경 이미지 */
  background-size: cover;                     /* 꽉 채우기 */
  background-position: center;                /* 가운데 정렬 */
  background-repeat: no-repeat;               /* 반복 없애기 */
  min-height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
  text-align: center;      /* 텍스트 중앙 정렬 (inline 요소용) */

  position: relative;      /* absolute 자식 기준으로 사용 */
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
