.tile {
    /* 가로 방향 정렬 */
    display: flex;
    flex-direction: row;
    gap: 0px; 
    /*타일 설정*/
    width: 80px;
    height: 120px;
    margin: 4px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    /*폰토 설정*/
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;   /*n초 동안 부드럽게 변화*/
    user-select: none;       /*드래그 금지*/
    transform: rotate(0deg); /*기울기기*/
}

/* 공개된 타일 */
.tile.revealed.white {
    background-color: white;
    color: black;
    border: 3px solid rgb(0, 0, 0);
}
.tile.revealed.black {
    background-color: black;
    color: white;
    border: 3px solid gray;
}

/* 숨겨진 타일 */
.tile.blind.white {
    background-color: white;
    color: transparent;
    border: 3px solid rgb(0, 0, 0);
}
.tile.blind.black {
    background-color: black;
    color: transparent;
    border: 3px solid gray;
}
/* 조커 타일 */
.tile.joker.white{
    background-color: white;
    color: black;
    border: 3px solid rgb(0, 0, 0);
}
.tile.joker.black{
    background-color: #000000;
    color: white;
    border: 3px solid gray;
}